# Folder metadata lokal Terraform
.terraform/

# File state (Sangat penting! Mengandung data sensitif dan konfigurasi infrastruktur)
*.tfstate
*.tfstate.*

# File variabel sensitif (Tempat Anda menyimpan API Key, Password, dll)
*.tfvars
*.tfvars.json

# File override lokal
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# File log dan crash
terraform.tfstate.lock.info
crash.log

# File konfigurasi CLI lokal (khusus untuk credentials)
.terraformrc
terraform.rc